.fileName_list {
  display: flex;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;
  overflow-y: hidden;
  color: var(--text);
  background-color: var(--bg);

  &::-webkit-scrollbar {
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6bf0ff;
  }

  .fileName_item {
    cursor: pointer;
    padding: 8px 10px 6px;
    line-height: 20px;
    font-size: 13px;
    white-space: nowrap;
  }
  
  .selected {
    color: #6bf0ff;
    border-bottom: 3px solid #6bf0ff;
  }

  .add {
    font-size: 24px;
    color: #ccc;
  }
}